@font-face {
  font-family: "The Last Shuriken Font";
  src: url("The\ Last\ Shuriken.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: space-between;
  max-width: 75%;
  margin: 80px auto;
  padding: 40px 40px 0px 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 15px 1px;
}

.content {
  margin-top: 80px;
}

header {
  margin-bottom: 30px;
}

h1 {
  font-size: 50px;
  font-family: "The Last Shuriken Font";
  text-align: center;
  margin: 0;
}

form {
  display: flex;
  margin: 50px 0px 0px 30px;
}

.hint {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 40px;
  opacity: 0.6;
}

.text-input,
.submit-input {
  font-size: 15px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 1px;
  border-radius: 20px;
}

.text-input {
  padding: 15px;
  width: 60%;
}

.submit-input {
  margin-left: 15px;
  background-color: #e01919;
  color: #fff;
  padding: 15px 20px;
}

input:focus-visible {
  outline: none;
}

.poem {
  font-size: 14px;
  margin: 50px 0;
  padding: 30px;
  line-height: 2;
  box-shadow: -2px 3px 5px -1px rgba(0, 0, 0, 0.1);
  border-left: 3px solid #e01919;
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 14px;
  padding-top: 30px;
}

a {
  color: #e01919;
}
